name: Go

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - feature/**

jobs:

  all-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Install task
        uses: arduino/setup-task@v2

      - name: Run all checks
        run: task all-checks


  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Install task
        uses: arduino/setup-task@v2

      - name: Build
        run: task build-go

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Install task
        uses: arduino/setup-task@v2

      - name: Test
        run: task test


  finish:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    if: needs.build.result == 'success' && needs.test.result == 'success'
    steps:
      - run: echo "Build and test are successful"